{% extends "template.html" %}
{% block title %}<title>Avaliadores</title>{% endblock %}
{% block content %}
<div class="container">
    <h1>Lista de Avaliadores</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoAvaliador' %}" class="button-style shadow-sm">Novo Avaliador</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Área de Formação</th>
                <th scope="col">Idade</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for avaliador in avaliadores %}
            <tr>
                <td><a href="{% url 'alterarAvaliador' avaliador.id %}">{{avaliador.nome}}</a></td>
                <td>{{avaliador.areaFormacao}}</td>
                <td>{{avaliador.idade}} anos</td>
                <td><a href="{% url 'deletarAvaliador' avaliador.id %}"
                           onclick="return confirm('Deseja apagar esse avaliador?')"
                           class="">Apagar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}