{% extends "template.html" %}
{% block title %}<title>Autores</title>{% endblock %}
{% block content %}
<div class="container">
    <h1>Lista de Autores</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoAutor' %}" class="button-style shadow-sm">Criar Autor</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Idade</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for autor in autores %}
            <tr>
                <td>{{autor.nome}}</td>
                <td>{{autor.email}}</td>
                <td>{{autor.idade}} anos</td>
                <td><a href="{% url 'deletarAutor' autor.id %}"
                           onclick="return confirm('Deseja apagar esse Autor?')"
                           class="">Apagar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}