<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prêmios</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Lista de Prêmios</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoPremio' %}" class="button-style shadow-sm">Cadastrar Prêmio</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ano</th>
            </tr>
            </thead>
            <tbody>
            {% for premio in premios %}
            <tr>
                <td>{{premio.nome}}</td>
                <td>{{premio.descricao}}</td>
                <td>{{premio.ano}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>