{% extends "template.html" %}
{% block title %}<title>Prêmios</title>{% endblock %}
{% block content %}
<div class="container">
    <h1>Lista de Prêmios</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoPremio' %}" class="button-style shadow-sm">Cadastrar Prêmio</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ano</th>
                <th scope="col">Período</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for premio in premios %}
            <tr>
                <td><a href="{% url 'alterarPremio' premio.id %}">{{premio.nome}}</a></td>
                <td>{{premio.descricao}}</td>
                <td>{{premio.ano}}</td>
                <td>
                    {% for cronograma in cronogramas %}
                        <div>
                            {{cronograma.descricao}} - início em {{cronograma.dataInicio}} e fim em {{cronograma.dataFim}}
                            </br>
                        </div>
                    {% endfor %}
                </td>
                <td><a href="{% url 'deletarPremio' premio.id %}"
                           onclick="return confirm('Deseja apagar esse prêmio?')"
                           class="button-apagar">Apagar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}