{% extends "template.html" %}
{% block title %}<title>Cronogramas</title>{% endblock %}
{% block content %}
<div class="container">
    <h1>Cronogramas cadastrados</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoCronograma' %}" class="button-style shadow-sm">Cadastrar Cronograma</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Data Inicial</th>
                <th scope="col">Data Final</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for cronograma in cronogramas %}
            <tr>
                <td><a href="{% url 'alterarCronograma' cronograma.id %}">{{cronograma.descricao}}</a></td>
                <td>{{cronograma.dataInicio}}</td>
                <td>{{cronograma.dataFim}}</td>
                <td><a href="{% url 'deletarCronograma' cronograma.id %}"
                       onclick="return confirm('Deseja apagar esse cronograma?')"
                       class="button-apagar">Apagar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}