{% extends "template.html" %}
{% block title %}<title>Novo Projeto</title>{% endblock %}
{% block content %}
<div class="container">
    <h1>Projetos cadastrados</h1>
    <div class="d-flex flex-row-reverse">
        <a href="{% url 'novoProjeto' %}" class="button-style shadow-sm">Cadastrar Projeto</a>
    </div>

    <div class="container-white">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Área</th>
                <th scope="col">Autores</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            {% for projeto in projetos %}
            <tr>
                <td>{{projeto.nome}}</td>
                <td>{{projeto.descricao}}</td>
                <td>{{projeto.areaProjeto}}</td>
                <td>
                    {% for autor in autores %}
                        <div>
                            {{autor.nome}}
                            </br>
                        </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}